body {
    margin: auto;
    padding: 100px;
    font-family: 'Titillium Web', sans-serif;
    overflow: hidden;
}

/*#bg-video*/ #bg_image{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

h1 {
    text-align: center;
    padding-bottom: 50px;
}

.calculator {
    background: linear-gradient(45deg, #282828, #0c0c0c);
    width: 360px;
    height: 500px;
    margin: auto;
    border-radius: 2px;
}

.display {
    width: 340px;
    height: 100px;
    padding: 3px;
    margin: auto;
    font-size: 30px;
    text-align: right;
    color: white;
}

.buttons {
    margin: 10px;
    padding: 10px;
}

#clear, #zero {
    width: 156px;
    height: 65px;
    border: 2px solid white;
}

#percent, #divide, #seven, #eight, #nine, #multiply, #four, #five, #six, #subtract, #one, #two, #three, #add, #equals, #decimal {
    width: 76px;
    height: 65px;
    margin-bottom: 5px;
    border: 2px solid white;
}

button {
    font-size: 18px;
    cursor: pointer;
    background: rgba(250, 250, 250, 0.01);
    color: white;
    border: 1px solid #282828;
    font-weight: 100;
    font-family: 'Titillium Web', sans-serif;
}

button:hover {
    background: rgba(250, 250, 250, 0.3);
}

.sign {
    background: rgba(250, 250, 250, 0.1);

}