body {
    background-color: black;
}

header > div > img {
    top: 0;
    left: 0;
    position: absolute;
}

header > div > nav {
    top: 35px;
    right: 200px;
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 19px;

}

header > div > nav > a {
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 30px;
}

header > div > nav > a:visited {
    color: #9A0000;
}
header > div > nav {
    top: 35px;
    right: 200px;
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 19px;

}

header > div > nav > a {
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 30px;
}

header > div > nav > a:visited {
    color: #9A0000;
}


#title_box {
    position: absolute;
    width: 1334px;
    height: 194px;
    background-color: #1E1E1E;
    top: 150px;
    left: 0;
    right: 0;
    margin: auto;
}

#assignment_title_2 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 64px;
    font-weight: bolder;
    color: #9A0000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -140px;
}

#white-line {
    width: 180px;
    height: 2px;
    background-color: #d9d9d9;
    position: absolute;
    top: 300px;
    left: 0;
    right: 0;
    margin: auto;
}

#assignment_box > * {
    position: absolute;
    width: 400px;
    height: 551px;
    background-color: #181818;
}

#assignment_1 {
    top: 445px;
    left: 130px;
}

#assignment_2 {
    top: 720px;
    left: 50%;
    transform: translate(-50%, -50%)
}

#assignment_3 {
    top: 445px;
    right: 130px;
}

#assignment_4 {
    top: 1025px;
    right: 130px;
}

#assignment_5 {
    top: 1300px;
    left: 50%;
    transform: translate(-50%, -50%)
}

#assignment_6 {
    top: 1025px;
    left: 130px;
}

#assignment_7 {
    top: 1605px;
    left: 130px;
}

#assignment_8 {
    top: 1880px;
    left: 50%;
    transform: translate(-50%, -50%)
}

#assignment_9 {
    top: 1605px;
    right: 130px;
}


#a_1, #a_2, #a_3, #a_4, #a_5, #a_6, #a_7, #a_8, #a_9 {
    color: #d9d9d9;
    font-family: "Nunito Sans", sans-serif;
    font-size: 38px;
    font-weight: bolder;
    position: absolute;
}

#a_1 {
    top: 450px;
    left: 175px;
}

#a_2 {
    top: 450px;
    left: 605px;
}

#a_3 {
    top: 450px;
    right: 175px;
}

#a_6 {
    top: 1025px;
    right: 175px;
}

#a_5 {
    top: 1025px;
    left: 605px;
}

#a_4 {
    top: 1025px;
    left: 175px;
}

#a_7 {
    top: 1605px;
    left: 175px;
}

#a_8 {
    top: 1605px;
    left: 605px;
}

#a_9 {
    top: 1605px;
    right: 175px;
}


.p1 {
    top: 600px;
    left: 175px;
}

.p2 {
    top: 600px;
    left: 605px;
}

.p3 {
    top: 600px;
    right: 205px;
}

.p4 {
    top: 1175px;
    right: 175px;
}

.p5 {
    top: 1175px;
    left: 605px;
}

.p6 {
    top: 1175px;
    left: 205px;
}

.p7 {
    top: 1750px;
    left: 175px;
}

.p8 {
    top: 1750px;
    left: 605px;
}

.p9 {
    top: 1750px;
    right: 205px;
}


#view_button_1 {
    top: 915px;
    left: 380px;
}

#view_button_2 {
    top: 915px;
    right: 605px;
}

#view_button_3 {
    top: 915px;
    right: 175px;
}

#view_button_4 {
    top: 1495px;
    left: 380px;
}

#view_button_5 {
    top: 1495px;
    right: 605px;
}

#view_button_6 {
    top: 1495px;
    right: 175px;
}

#view_button_7 {
    top: 2075px;
    left: 380px;
}

#view_button_8 {
    top: 2075px;
    right: 605px;
}

#view_button_9 {
    top: 2075px;
    right: 175px;
}


#demo_button_1 {
    top: 915px;
    left: 175px;
}

#demo_button_2 {
    top: 915px;
    left: 605px;
}

#demo_button_3 {
    top: 915px;
    right: 380px;
}

#demo_button_4 {
    top: 1495px;
    left: 175px;
}

#demo_button_5 {
    top: 1495px;
    left: 605px;
}

#demo_button_6 {
    top: 1495px;
    right: 380px;
}

#demo_button_7 {
    top: 2075px;
    left: 175px;
}

#demo_button_8 {
    top: 2075px;
    left: 605px;
}

#demo_button_9 {
    top: 2075px;
    right: 380px;
}


.p1, .p2, .p3, .p4, .p5, .p6, .p7, .p8, .p9 {
    color: #d9d9d9;
    font-family: "Nunito Sans", sans-serif;
    font-size: 24px;
    font-weight: lighter;
    position: absolute;
}


#view_button_1, #view_button_2, #view_button_3, #view_button_4, #view_button_5, #view_button_6, #view_button_7, #view_button_8, #view_button_9 {
    width: 103px;
    height: 33px;
    text-decoration: none;
    border: none;
    outline: none;
    position: absolute;
    background-color: #CB1D27;
    color: #d9d9d9;
    font-size: 15px;
    font-weight: bolder;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
}

#demo_button_1, #demo_button_2, #demo_button_3, #demo_button_4, #demo_button_5, #demo_button_6, #demo_button_7, #demo_button_8, #demo_button_9 {
    width: 103px;
    height: 33px;
    text-decoration: none;
    border: none;
    outline: none;
    position: absolute;
    background-color: #CB1D27;
    color: #d9d9d9;
    font-size: 15px;
    font-weight: bolder;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
}


/*footer*/

#nav_logo {
    left: 300px;
    top: 2290px;
    position: absolute;
}

#footer {
    position: absolute;
    width: 100% vw;
    height: 150px;
    background-color: #111111;
    top: 2270px;
    left: 0;
    right: 0;
    margin: auto;
}

#footer_nav {
    top: 2230px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 19px;
}

#footer_nav > a {
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 30px;
}

#footer_nav > a:visited {
    color: #9A0000;
}

#twitter_2 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 2320px;
    left: 640px;
}

#github_2 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 2320px;
    left: 0;
    right: 0;
    margin: auto;
    align-items: center;
}

#linkedin_2 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 2320px;
    right: 640px;
}

#copyright {
    position: absolute;
    font-size: 16px;
    font-weight: normal;
    font-family: "Saira", sans-serif;
    top: 2390px;
    left: 0;
    right: 0;
    text-align: center;
    color: #d9d9d9;
}
