body {
    background-color: darkslategray;
}

/*
body {
    background-color: cadetblue;
}*/

header > div > img {
    top: 0;
    left: 0;
    position: absolute;
}

header > div > nav {
    top: 35px;
    right: 200px;
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 19px;

}

header > div > nav > a {
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 30px;
}

header > div > nav > a:visited {
    color: #9A0000;
}

#title_box {
    position: absolute;
    width: 1334px;
    height: 194px;
    background-color: #1E1E1E;
    top: 150px;
    left: 0;
    right: 0;
    margin: auto;
}

#assignment_title_2 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 64px;
    font-weight: bolder;
    color: #9A0000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -140px;
}

#white-line {
    width: 180px;
    height: 2px;
    background-color: #d9d9d9;
    position: absolute;
    top: 300px;
    left: 0;
    right: 0;
    margin: auto;
}

#assignment_box > * {
    position: absolute;
    width: 400px;
    height: 551px;
    background-color: #181818;
}

#assignment_1 {
    top: 445px;
    left: 130px;
}

#assignment_2 {
    top: 720px;
    left: 50%;
    transform: translate(-50%, -50%)
}

#assignment_3 {
    top: 445px;
    right: 130px;
}

#assignment_4 {
    top: 1025px;
    right: 130px;
}

#assignment_5 {
    top: 1300px;
    left: 50%;
    transform: translate(-50%, -50%)
}

#assignment_6 {
    top: 1025px;
    left: 130px;
}

#assignment_7 {
    top: 1605px;
    left: 130px;
}

#assignment_8 {
    top: 1880px;
    left: 50%;
    transform: translate(-50%, -50%)
}

#assignment_9 {
    top: 1605px;
    right: 130px;
}

#assignment>h3{
    font-size: 100px;
}


/*footer*/

#nav_logo {
    left: 300px;
    top: 2290px;
    position: absolute;
}

#footer {
    position: absolute;
    width: 100% vw;
    height: 150px;
    background-color: #181818;
    top: 2270px;
    left: 0;
    right: 0;
    margin: auto;
}

#footer_nav {
    top: 2230px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 19px;
}

#footer_nav > a {
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 30px;
}

#footer_nav > a:visited {
    color: #9A0000;
}

#twitter_2 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 2320px;
    left: 640px;
}

#github_2 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 2320px;
    left: 0;
    right: 0;
    margin: auto;
    align-items: center;
}

#linkedin_2 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 2320px;
    right: 640px;
}

#copyright {
    position: absolute;
    font-size: 16px;
    font-weight: normal;
    font-family: "Saira", sans-serif;
    top: 2390px;
    left: 0;
    right: 0;
    text-align: center;
    color: #d9d9d9;
}
