body {
    background-color: black;
}

header > div > img {
    top: 0;
    left: 0;
    position: absolute;
}

#header_nav {
    top: 35px;
    right: 200px;
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 19px;
}

#header_nav > a {
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 30px;
}

#header_nav > a:visited {
    color: #9A0000;
}

#title_box {
    position: absolute;
    width: 1334px;
    height: 194px;
    background-color: #1E1E1E;
    top: 150px;
    left: 0;
    right: 0;
    margin: auto;
}

#project_title_2 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 64px;
    font-weight: bolder;
    color: #9A0000;
    position: absolute;
    top: 160px;
    right: 610px;
}

#white-line {
    width: 180px;
    height: 2px;
    background-color: #d9d9d9;
    position: absolute;
    top: 300px;
    left: 0;
    right: 0;
    margin: auto;
}

.project_box > * {
    position: absolute;
    width: 690px;
    height: 450px;
    background-color: #111111;
}

#project_1 {
    top: 424px;
    left: 55px;
    position: absolute;
}

#project_2 {
    top: 424px;
    right: 55px;
    position: absolute;
}

#project_3 {
    top: 1030px;
    left: 55px;
    position: absolute;
}

#project_4 {
    top: 1030px;
    right: 55px;
    position: absolute;
}

#project_head_1 {
    font-weight: 600;
    font-size: 40px;
    font-family: "Saira", sans-serif;
    color: #d9d9d9;
    position: absolute;
    top: 855px;
    left: 55px;
}

#project_head_2 {
    font-weight: 600;
    font-size: 40px;
    font-family: "Saira", sans-serif;
    color: #d9d9d9;
    position: absolute;
    top: 855px;
    left: 775px;
}

#project_head_3 {
    font-weight: 600;
    font-size: 40px;
    font-family: "Saira", sans-serif;
    color: #d9d9d9;
    position: absolute;
    top: 1460px;
    left: 55px;
}

#project_head_4 {
    font-weight: 600;
    font-size: 40px;
    font-family: "Saira", sans-serif;
    color: #d9d9d9;
    position: absolute;
    top: 1460px;
    left: 775px;
}

#know_1 {
    font-family: "Saira", sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #CB1D27;
    position: absolute;
    text-decoration: none;
}

#know_2 {
    font-family: "Saira", sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #CB1D27;
    position: absolute;
    text-decoration: none;
}

#know_3 {
    font-family: "Saira", sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #CB1D27;
    position: absolute;
    text-decoration: none;
}

#know_4 {
    font-family: "Saira", sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #CB1D27;
    position: absolute;
    text-decoration: none;
}

#know_1 {
    top: 945px;
    left: 55px;
}

#know_2 {
    top: 1550px;
    left: 55px;
}

#know_3 {
    top: 1550px;
    left: 775px;
}

#know_4 {
    top: 945px;
    left: 775px;
}

/*footer*/

#nav_logo {
    left: 300px;
    top: 1720px;
    position: absolute;
}

#footer {
    position: absolute;
    width: 100% vw;
    height: 150px;
    background-color: #111111;
    top: 1700px;
    left: 0;
    right: 0;
    margin: auto;
}

#footer_nav {
    top: 1655px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 19px;
}

#footer_nav > a {
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 30px;
}

#footer_nav > a:visited {
    color: #9A0000;
}

#twitter_2 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 1750px;
    left: 640px;
}

#github_2 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 1750px;
    left: 0;
    right: 0;
    margin: auto;
    align-items: center;
}

#linkedin_2 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 1750px;
    right: 640px;
}

#copyright {
    position: absolute;
    font-size: 16px;
    font-weight: normal;
    font-family: "Saira", sans-serif;
    top: 1820px;
    left: 0;
    right: 0;
    text-align: center;
    color: #d9d9d9;
}