html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

header > div > img {
    top: 0;
    left: 0;
    position: absolute;
}

header > div > nav {
    top: 35px;
    right: 200px;
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 19px;

}

header > div > nav > a {
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 30px;
}

header > div > nav > a:visited {
    color: #9A0000;
}

#home > #profile_image > img {
    width: 686px;
    height: 520px;
    left: 8px;
    top: 25px;
    opacity: 40%;
    position: absolute
}

#home > div > #name {
    font-family: "Saira", sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: #CB1D27;
    position: absolute;
    left: 640px;
    top: 150px;
}

#home > #large_box {
    width: 773px;
    height: 956px;
    background-color: #111111;
    /*border: solid 1px #9A0000;*/
    position: absolute;
    right: 0;
    left: 0;
    top: 545px;
}

#home > div > #software {
    color: #D9D9D9;
    font-size: 64px;
    font-weight: bold;
    font-family: "Saira", sans-serif;
    position: absolute;
    left: 640px;
    top: 175px;
}

#home > div > #engineer {
    color: #D9D9D9;
    font-size: 64px;
    font-weight: bold;
    font-family: "Saira", sans-serif;
    position: absolute;
    left: 926px;
    top: 175px;
}

#software::first-letter {
    color: #CB1D27;
}

#engineer::first-letter {
    color: #CB1D27;
}

#home > div > #small_about {
    color: #D9D9D9;
    font-size: 20px;
    font-weight: normal;
    font-family: "Saira", sans-serif;
    position: absolute;
    left: 640px;
    top: 298px;
    line-height: 1.5;

}

.about {
    background-color: #9A0000;
    color: #D9D9D9;
    width: 158px;
    height: 47px;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    left: 640px;
    top: 435px;

}

#twitter_1 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 435px;
    left: 840px;
}

#github_1 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 435px;
    left: 920px;
}

#linkedin_icon {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 435px;
    left: 1000px;
}

/*home section 3 boxes*/

#home > #small_box > * {
    width: 400px;
    height: 430px;
    background-color: #1E1E1E;
    position: absolute;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#home > #small_box > #small_box_1 {
    top: 630px;
    left: 135px;
}

#home > #small_box > #small_box_2 {
    background-color: #9A0000;
    top: 630px;
    left: 0;
    right: 0;
    margin: auto;
}

#home > #small_box > #small_box_3 {
    top: 630px;
    right: 135px;
}

#small_boxes > h3 {
    font-size: 37px;
    font-weight: 900;
    font-family: "Nunito Sans", sans-serif;
    font-style: normal;
    color: #d9d9d9;
    position: absolute;
}

#small_boxes > p {
    font-size: 21px;
    font-weight: lighter;
    font-family: "Nunito Sans", sans-serif;
    font-style: normal;
    color: #d9d9d9;
    position: absolute;
}

#small_boxes > img {
    position: absolute;
    width: 75px;
    height: 75px;
}

#small_boxes > #ui_design {
    top: 700px;
    left: 170px;
}

#small_boxes > #ui_title {
    top: 780px;
    left: 170px;
}

#small_boxes > #ui_paragraph {
    top: 880px;
    left: 170px;
}

#small_boxes > #product_design {
    top: 700px;
    left: 590px;
}

#small_boxes > #product_design_title {
    top: 780px;
    left: 600px;
}

#small_boxes > #product_design_paragraph {
    top: 880px;
    left: 600px;
}

#small_boxes > #branding {
    top: 700px;
    right: 420px;
}

#small_boxes > #branding_title {
    top: 780px;
    right: 300px;
}

#small_boxes > #branding_paragraph {
    top: 880px;
    right: 215px;
}

#year_experience > #one {
    color: #CB1D27;
    font-weight: 900;
    font-size: 200px;
    font-family: "Saira", sans-serif;
    position: absolute;
    top: 900px;
    left: 230px;
}

#year_experience > #year {
    color: #D9D9D9;
    font-size: 40px;
    font-weight: bold;
    font-family: "Saira", sans-serif;
    position: absolute;
    top: 1250px;
    left: 190px;
}

#home > #mini_box > * {
    width: 400px;
    height: 130px;
    background-color: #1E1E1E;
    position: absolute;
}

#mini_box > #mini_box_1 {
    top: 1083px;
    left: 50%;
    transform: translate(-50%);
}

#mini_box > #mini_box_2 {
    top: 1085px;
    right: 135px;
}

#mini_box > #mini_box_3 {
    top: 1235px;
    left: 50%;
    transform: translate(-50%);
}

#mini_box > #mini_box_4 {
    top: 1235px;
    right: 135px;
}

.achievement {
    color: #9A0000;
    font-weight: bold;
    font-size: 60px;
    font-family: "Saira", sans-serif;
}

#achievement_1 {
    top: 1020px;
    left: 720px;
    position: absolute;
}

#achievement_2 {
    top: 1020px;
    right: 310px;
    position: absolute;
}

#achievement_3 {
    top: 1170px;
    left: 720px;
    position: absolute;
}

#achievement_4 {
    top: 1170px;
    right: 320px;
    position: absolute;
}

.achievement_2 {
    color: #d9d9d9;
    font-weight: lighter;
    font-size: 30px;
    font-family: "Nunito Sans", sans-serif;
}

#achievement_5 {
    top: 1125px;
    left: 720px;
    position: absolute;
}

#achievement_6 {
    top: 1125px;
    right: 225px;
    position: absolute;
}

#achievement_7 {
    top: 1270px;
    left: 625px;
    position: absolute;
}

#achievement_8 {
    top: 1270px;
    right: 240px;
    position: absolute;
}

/*project section*/

.title_box {
    position: absolute;
    width: 1334px;
    height: 194px;
    background-color: #1E1E1E;
    top: 1580px;
    left: 0;
    right: 0;
    margin: auto;
}

#project_title_1 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 38px;
    font-weight: normal;
    color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 1250px;
}

#project_title_2 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 64px;
    font-weight: bolder;
    color: #9A0000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 1300px;
}

#white-line {
    width: 180px;
    height: 2px;
    background-color: #d9d9d9;
    position: absolute;
    top: 1750px;
    left: 0;
    right: 0;
    margin: auto;
}

.project_box > * {
    position: absolute;
    width: 690px;
    height: 450px;
    background-color: #111111;
}

#project_1 {
    top: 1850px;
    left: 55px;
    position: absolute;
}

#project_2 {
    top: 1850px;
    right: 55px;
    position: absolute;
}

#project_3 {
    top: 2450px;
    left: 55px;
    position: absolute;
}

#project_4 {
    top: 2450px;
    right: 55px;
    position: absolute;
}

#connect_4_game {
    position: absolute;
    top: 1895px;
    left: 105px;
    border: 2px solid #1E1E1E;
}

#nexo_live_chat {
    position: absolute;
    top: 1895px;
    right: 105px;
    border: 2px solid #1E1E1E;
}

#apex_car_wash {
    position: absolute;
    top: 2495px;
    left: 105px;
    border: 2px solid #1E1E1E;
}

#my_portfolio {
    position: absolute;
    top: 2495px;
    right: 105px;
    border: 2px solid #1E1E1E;
}

#project_head_1 {
    font-weight: 600;
    font-size: 40px;
    font-family: "Saira", sans-serif;
    color: #d9d9d9;
    position: absolute;
    top: 2280px;
    left: 55px;
}

#project_head_2 {
    font-weight: 600;
    font-size: 40px;
    font-family: "Saira", sans-serif;
    color: #d9d9d9;
    position: absolute;
    top: 2280px;
    left: 775px;
}

#project_head_3 {
    font-weight: 600;
    font-size: 40px;
    font-family: "Saira", sans-serif;
    color: #d9d9d9;
    position: absolute;
    top: 2880px;
    left: 55px;
}

#project_head_4 {
    font-weight: 600;
    font-size: 40px;
    font-family: "Saira", sans-serif;
    color: #d9d9d9;
    position: absolute;
    top: 2880px;
    left: 775px;
}

#know_1 {
    font-family: "Saira", sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #CB1D27;
    position: absolute;
    text-decoration: none;
}

#know_2 {
    font-family: "Saira", sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #CB1D27;
    position: absolute;
    text-decoration: none;
}

#know_3 {
    font-family: "Saira", sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #CB1D27;
    position: absolute;
    text-decoration: none;
}

#know_4 {
    font-family: "Saira", sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #CB1D27;
    position: absolute;
    text-decoration: none;
}

#know_1 {
    top: 2370px;
    left: 55px;
}

#know_2 {
    top: 2370px;
    left: 775px;
}

#know_3 {
    top: 2970px;
    left: 55px;
}

#know_4 {
    top: 2970px;
    left: 775px;
}

#title_box_2 {
    position: absolute;
    width: 1370px;
    height: 194px;
    background-color: #111111;
    top: 3050px;
    left: 0;
    right: 0;
    margin: auto;
}

#explore_more_project {
    font-weight: bolder;
    color: #d9d9d9;
    font-family: "Nunito Sans", sans-serif;
    font-size: 60px;
    position: absolute;
    top: 3060px;
    left: 270px;
}

#explore_button {
    font-size: 20px;
    font-weight: bolder;
    font-family: "Roboto", sans-serif;
    position: absolute;
    text-decoration: none;
    background-color: #CB1D27;
    width: 156px;
    height: 53px;
    border: none;
    outline: none;
    top: 3120px;
    left: 1070px;
    color: #d9d9d9;
    cursor: pointer;
}

#title_box_3 {
    position: absolute;
    width: 1386px;
    height: 362px;
    background-color: #111111;
    top: 3280px;
    left: 0;
    right: 0;
    margin: auto;
}

#lets_work_together {
    font-family: "Nunito Sans", sans-serif;
    font-weight: bolder;
    color: #d9d9d9;
    position: absolute;
    font-size: 60px;
    top: 3300px;
    left: 250px;
}

#lets {
    font-size: 26px;
    font-weight: normal;
    font-family: "Nunito Sans", sans-serif;
    position: absolute;
    top: 3540px;
    left: 250px;
    color: #d9d9d9;
}

#contact_me_button {
    font-size: 24px;
    font-weight: bolder;
    font-family: "Roboto", sans-serif;
    position: absolute;
    text-decoration: none;
    background-color: #CB1D27;
    width: 194px;
    height: 69px;
    border: none;
    outline: none;
    top: 3428px;
    left: 1150px;
    color: #d9d9d9;
    cursor: pointer;
}

.title_box_4 {
    position: absolute;
    width: 1334px;
    height: 194px;
    background-color: #1E1E1E;
    top: 3730px;
    left: 0;
    right: 0;
    margin: auto;
}

#get_to_know_more {
    font-family: "Nunito Sans", sans-serif;
    font-size: 38px;
    font-weight: normal;
    color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 3760px;
    left: 0;
    right: 0;
    margin: auto;
}

#about_title {
    font-family: "Nunito Sans", sans-serif;
    font-size: 64px;
    font-weight: bolder;
    color: #9A0000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 3810px;
    left: 0;
    right: 0;
    margin: auto;
}

#white-line_2 {
    width: 100px;
    height: 2px;
    background-color: #d9d9d9;
    position: absolute;
    top: 3895px;
    left: 0;
    right: 0;
    margin: auto;
}

#about_hello {
    font-weight: bolder;
    font-size: 39px;
    font-family: "Saira", sans-serif;
    color: #CB1D27;
    position: absolute;
    top: 4085px;
    left: 130px;
}

.paragraph_about {
    font-family: "Saira", sans-serif;
    font-size: 25px;
    font-weight: 100;
    color: #d9d9d9;
    position: absolute;
}

#about_dulmin_image {
    position: absolute;
    top: 3990px;
    right: 100px;
    width: 544px;
    height: 590px;
    opacity: 35%;
}

#paragraph_about_1 {
    top: 4170px;
    left: 130px;
}

#paragraph_about_2 {
    top: 4350px;
    left: 130px;
}

#twitter_2 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 4570px;
    left: 130px;
}

#github_2 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 4570px;
    left: 200px;
}

#linkedin_2 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 4570px;
    left: 270px;
}

#large_box_2 {
    width: 759px;
    height: 465px;
    position: absolute;
    top: 4580px;
    left: 50%;
    background-color: #111111;
}

/*about section box*/

#year_experience_1 > #one_1 {
    color: #CB1D27;
    font-weight: 900;
    font-size: 200px;
    font-family: "Saira", sans-serif;
    position: absolute;
    top: 4500px;
    right: 200px;
}

#year_experience_1 > #year_1 {
    color: #D9D9D9;
    font-size: 40px;
    font-weight: bold;
    font-family: "Saira", sans-serif;
    position: absolute;
    top: 4845px;
    right: 150px;
}

#mini_box_about > * {
    width: 400px;
    height: 130px;
    background-color: #1E1E1E;
    position: absolute;
}

#mini_box_11 {
    top: 4670px;
    left: 50%;
    transform: translate(-50%);
}

#mini_box_22 {
    top: 4670px;
    left: 139px;
}

#mini_box_33 {
    top: 4825px;
    left: 50%;
    transform: translate(-50%);
}

#mini_box_44 {
    top: 4825px;
    left: 135px;
}

.achievement {
    color: #9A0000;
    font-weight: bold;
    font-size: 60px;
    font-family: "Saira", sans-serif;
}

#achievement_1x {
    top: 4610px;
    left: 300px;
    position: absolute;
}

#achievement_2x {
    top: 4610px;
    right: 730px;
    position: absolute;
}

#achievement_3x {
    top: 4760px;
    left: 300px;
    position: absolute;
}

#achievement_4x {
    top: 4760px;
    right: 739px;
    position: absolute;
}

.achievement_2 {
    color: #d9d9d9;
    font-weight: lighter;
    font-size: 30px;
    font-family: "Nunito Sans", sans-serif;
}

#achievement_5x {
    top: 4713px;
    left: 295px;
    position: absolute;
}

#achievement_6x {
    top: 4713px;
    right: 650px;
    position: absolute;
}

#achievement_7x {
    top: 4865px;
    left: 205px;
    position: absolute;
}

#achievement_8x {
    top: 4865px;
    right: 655px;
    position: absolute;
}

.assignment_box {
    width: 1386px;
    height: 362px;
    background-color: #111111;
    position: absolute;
    top: 5090px;
    left: 0;
    right: 0;
    margin: auto;
}

#assignment_title {
    font-family: "Nunito Sans", sans-serif;
    font-weight: bolder;
    color: #d9d9d9;
    font-size: 64px;
    position: absolute;
    top: 5130px;
    left: 160px;

}

#assignment {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 5175px;
    left: 611px;
}

#assignment_about_text {
    font-family: "Nunito Sans", sans-serif;
    font-weight: lighter;
    color: #d9d9d9;
    font-size: 28px;
    position: absolute;
    top: 5290px;
    left: 160px;
}

#explore_button_2 {
    font-weight: bolder;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    position: absolute;
    text-decoration: none;
    background-color: #CB1D27;
    outline: none;
    width: 194px;
    height: 69px;
    border: none;
    top: 5240px;
    left: 1100px;
    color: #d9d9d9;
    cursor: pointer;
}

.title_box_5 {
    position: absolute;
    width: 1334px;
    height: 194px;
    background-color: #1E1E1E;
    top: 5540px;
    left: 0;
    right: 0;
    margin: auto;
}

#white-line_3 {
    width: 100px;
    height: 2px;
    background-color: #d9d9d9;
    position: absolute;
    top: 5710px;
    left: 0;
    right: 0;
    margin: auto;

}

#skill_title {
    position: absolute;
    top: 5570px;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 38px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: normal;
    color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;

}

#skill_title_2 {
    position: absolute;
    top: 5632px;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 64px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: bolder;
    color: #CB1D27;
    display: flex;
    justify-content: center;
    align-items: center;

}

#skill_box > * {
    position: absolute;
    width: 428px;
    height: 470px;
    background-color: #181818;
}

#sk_1 {
    top: 5830px;
    left: 85px;
}

#sk_2 {
    top: 6065px;
    left: 50%;
    transform: translate(-50%, -50%)
}

#sk_3 {
    top: 5830px;
    right: 85px;
}

#sk_4 {
    top: 6335px;
    left: 85px;
}

#sk_5 {
    top: 6571px;
    left: 50%;
    transform: translate(-50%, -50%)
}

#sk_6 {
    top: 6335px;
    right: 85px;
}


#skill_1 {
    top: 5890px;
    left: 125px;
    position: absolute;
}

#skill_2 {
    position: absolute;
    top: 5890px;
    left: 580px;
}

#skill_3 {
    position: absolute;
    top: 5890px;
    right: 400px;
}

#skill_4 {
    position: absolute;
    top: 6410px;
    left: 125px;
}

#skill_5 {
    position: absolute;
    top: 6405px;
    left: 580px;
}

#skill_6 {
    position: absolute;
    top: 6410px;
    right: 390px;
}

#skill > div > h3 {
    font-size: 42px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: bolder;
    color: #d9d9d9;
    position: absolute;
}

#skill > div > p {
    font-weight: lighter;
    font-family: "Nunito Sans", sans-serif;
    color: #d9d9d9;
    font-size: 22px;
    position: absolute;
}

#title_1 {
    top: 5990px;
    left: 125px;
}

#title_2 {
    top: 5990px;
    left: 586px;
}

#title_3 {
    top: 5990px;
    right: 290px;
}

#title_4 {
    top: 6500px;
    left: 125px;
}

#title_5 {
    top: 6500px;
    left: 586px;
}

#title_6 {
    top: 6500px;
    right: 140px;
}

#p1 {
    top: 6110px;
    left: 125px;
}

#p2 {
    top: 6110px;
    left: 590px;
}

#p3 {
    top: 6110px;
    right: 195px;
}

#p4 {
    top: 6630px;
    left: 125px;
}

#p5 {
    top: 6630px;
    left: 590px;
}

#p6 {
    top: 6630px;
    right: 150px;
}


.title_box_6 {
    position: absolute;
    width: 1334px;
    height: 194px;
    background-color: #1E1E1E;
    top: 6920px;
    left: 0;
    right: 0;
    margin: auto;
}

#white-line_4 {
    width: 100px;
    height: 2px;
    background-color: #d9d9d9;
    position: absolute;
    top: 7092px;
    left: 0;
    right: 0;
    margin: auto;

}

#contact_title {
    position: absolute;
    top: 6950px;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 38px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: normal;
    color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;

}

#contact_title_2 {
    position: absolute;
    top: 7010px;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 64px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: bolder;
    color: #CB1D27;
    display: flex;
    justify-content: center;
    align-items: center;
}


#forms > div > label {
    color: #d9d9d9;
    font-family: "Roboto", sans-serif;
    font-size: 27px;
    font-weight: lighter;
    position: absolute;
}

#label_1 {
    top: 7200px;
    left: 200px;
}

#label_2 {
    top: 7200px;
    right: 565px;
}

#label_3 {
    top: 7350px;
    left: 200px;
}

#label_4 {
    top: 7350px;
    left: 830px;
}

#forms > div > input {
    background-color: black;
    width: 484px;
    height: 60px;
    border: 1px solid #CB1D27;
    position: absolute;
    color: #d9d9d9;
    font-size: 25px;
    font-weight: lighter;
    font-family: "Roboto", sans-serif;
}

#first_name {
    top: 7245px;
    left: 200px;
}

#last_name {
    top: 7245px;
    right: 200px;
}

#email {
    top: 7400px;
    left: 200px;
}

#phone_number {
    top: 7400px;
    right: 200px;
}

#topic {
    top: 7500px;
    left: 200px;
}

#topics {
    position: absolute;
    top: 7550px;
    left: 200px;
    width: 1122px;
    height: 60px;
    background-color: black;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: lighter;
    color: #d9d9d9;
    border: 1px solid #CB1D27;
}

#message {
    position: absolute;
    top: 7700px;
    left: 200px;
    width: 1122px;
    height: 268px;
    border: 1px solid #CB1D27;
    font-weight: lighter;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    color: #d9d9d9;
    background-color: black;
}

#message_1 {
    position: absolute;
    top: 7650px;
    left: 200px;
}

#terms {
    position: absolute;
    top: 8000px;
    left: 270px;
    color: #d9d9d9;
    font-family: "Roboto", sans-serif;
    font-size: 27px;
    font-weight: lighter;
}

#checkbox {
    position: absolute;
    top: 6286px;
    left: 202px;
    width: 25px;
    height: 25px;
    background-color: black;
}


#submit {
    position: absolute;
    top: 8100px;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 20px;
    font-weight: bolder;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    background-color: #CB1D27;
    width: 156px;
    height: 53px;
    border: none;
    outline: none;
    color: #d9d9d9;
    cursor: pointer;
}

#nav_logo {
    left: 300px;
    top: 8370px;
    position: absolute;
}

#footer {
    position: absolute;
    width: 100%;
    height: 150px;
    background-color: #111111;
    top: 8350px;
    left: 0;
    right: 0;
    margin: auto;
}

#footer_navigations {
    top: 8300px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 19px;
}

#footer_navigations > a {
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 30px;
}

#footer_nav > a:visited {
    color: #9A0000;
}

#twitter_22 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 8400px;
    left: 640px;
}

#github_22 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 8400px;
    left: 0;
    right: 0;
    margin: auto;
    align-items: center;
}

#linkedin_22 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 8400px;
    right: 640px;
}

#copyright {
    position: absolute;
    font-size: 16px;
    font-weight: normal;
    font-family: "Saira", sans-serif;
    top: 8475px;
    left: 0;
    right: 0;
    text-align: center;
    color: #d9d9d9;
}


