body {
    background-color: #111111;
}

/*
body {
    background-color: cadetblue;
}*/

header > div > img {
    top: 0;
    left: 0;
    position: absolute;
}

header > div > nav {
    top: 35px;
    right: 200px;
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 19px;

}

header > div > nav > a {
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 30px;
}

header > div > nav > a:visited {
    color: #9A0000;
}

#home > #profile_image > img {
    width: 686px;
    height: 520px;
    left: 8px;
    top: 25px;
    opacity: 40%;
    position: absolute;

}

#home > div > #name {
    font-family: "Saira", sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: #CB1D27;
    position: absolute;
    left: 640px;
    top: 150px;
}

#home > #large_box {
    width: 773px;
    height: 956px;
    background-color: #181818;
    /*border: solid 1px #9A0000;*/
    position: absolute;
    right: 50%;
    top: 545px;
}

#home > div > #software {
    color: #D9D9D9;
    font-size: 64px;
    font-weight: bold;
    font-family: "Saira", sans-serif;
    position: absolute;
    left: 640px;
    top: 175px;
}

#home > div > #engineer {
    color: #D9D9D9;
    font-size: 64px;
    font-weight: bold;
    font-family: "Saira", sans-serif;
    position: absolute;
    left: 926px;
    top: 175px;
}

#software::first-letter {
    color: #9A0000;
}

#engineer::first-letter {
    color: #9A0000;
}

#home > div > #small_about {
    color: #D9D9D9;
    font-size: 20px;
    font-weight: normal;
    font-family: "Saira", sans-serif;
    position: absolute;
    left: 640px;
    top: 298px;
    line-height: 1.5;

}

.about {
    background-color: #9A0000;
    color: #D9D9D9;
    width: 158px;
    height: 47px;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    left: 640px;
    top: 435px;

}

#home > #icons > a > i {
    background-color: #D9D9D9;
    color: #D9D9D9;
    width: 50px;
    height: 50px;

}

#home > #icons {
    position: absolute;
    left: 840px;
    top: 443px;
}

#home > #icons > a {
    margin-right: 30px;
}

/*home section 3 boxes*/

#home > #small_box > * {
    width: 400px;
    height: 430px;
    background-color: #1E1E1E;
    position: absolute;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#home > #small_box > #small_box_1 {
    top: 630px;
    left: 135px;
}

#home > #small_box > #small_box_2 {
    background-color: #9A0000;
    top: 630px;
    left: 50%;
    transform: translate(-50%);
}

#home > #small_box > #small_box_3 {

    top: 630px;
    right: 135px;
}

#small_boxes > h3 {
    font-size: 20px;
    font-weight: 900;
    font-family: "Nunito Sans", sans-serif;
    font-style: normal;
    color: #d9d9d9;
    position: absolute;
}

#small_boxes > p {
    font-size: 10px;
    font-weight: 300;
    font-family: "Nunito Sans", sans-serif;
    font-style: normal;
    color: #d9d9d9;
    position: absolute;
}

#small_boxes > img {
    position: absolute;
}

#small_boxes > #ui_design {
    top: 630px;
    left: 135px;
}

#small_boxes > #ui_title {
    top: 680px;
    left: 150px;
}

#small_boxes > #ui_paragraph {
    top: 700px;
    left: 200px;
}

#small_boxes > #product_design {
    top: 630px;
    left: 700px;
}

#small_boxes > #product_design_title {
    top: 680px;
    left: 700px;
}

#small_boxes > #product_design_paragraph {
    top: 700px;
    left: 700px;
}

#small_boxes > #branding {
    top: 630px;
    right: 200px;
}

#small_boxes > #branding_title {
    top: 680px;
    right: 200px;
}

#small_boxes > #branding_paragraph {
    top: 700px;
    right: 200px;
}

#year_experience > #one {
    color: red;
    font-weight: 900;
    font-size: 200px;
    font-family: "Saira", sans-serif;
    position: absolute;
    top: 900px;
    left: 230px;

}

#year_experience > #year {
    color: #D9D9D9;
    font-size: 40px;
    font-weight: bold;
    font-family: "Saira", sans-serif;
    position: absolute;
    top: 1250px;
    left: 190px;
}

#home > #mini_box > * {
    width: 400px;
    height: 130px;
    background-color: #1E1E1E;
    position: absolute;
}

#mini_box > #mini_box_1 {
    top: 1083px;
    left: 50%;
    transform: translate(-50%);
}

#mini_box > #mini_box_2 {
    top: 1085px;
    right: 135px;
}

#mini_box > #mini_box_3 {
    top: 1235px;
    left: 50%;
    transform: translate(-50%);
}

#mini_box > #mini_box_4 {
    top: 1235px;
    right: 135px;
}

.achievement {
    color: #9A0000;
    font-weight: bold;
    font-size: 60px;
    font-family: "Saira", sans-serif;
}

#achievement_1 {
    top: 1020px;
    left: 720px;
    position: absolute;
}

#achievement_2 {
    top: 1020px;
    right: 310px;
    position: absolute;
}

#achievement_3 {
    top: 1170px;
    left: 720px;
    position: absolute;
}

#achievement_4 {
    top: 1170px;
    right: 320px;
    position: absolute;
}

.achievement_2 {
    color: #d9d9d9;
    font-weight: lighter;
    font-size: 30px;
    font-family: "Nunito Sans", sans-serif;
}

#achievement_5 {
    top: 1125px;
    left: 720px;
    position: absolute;
}

#achievement_6 {
    top: 1125px;
    right: 225px;
    position: absolute;
}

#achievement_7 {
    top: 1270px;
    left: 625px;
    position: absolute;
}

#achievement_8 {
    top: 1270px;
    right: 240px;
    position: absolute;
}