/*body {
    background-color: #111111;
}*/

body{
background-color: lightskyblue;
}

header > div > img {
    top: 0;
    left: 0;
    position: absolute;
}

header > div > nav {
    top: 35px;
    right: 200px;
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 19px;

}

header > div > nav > a {
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 30px;
}

header > div > nav > a:visited {
    color: #9A0000;
}

#home > #pic > img {
    width: 686px;
    height: 520px;
    left: 50px;
    top: 25px;
    opacity: 80%;
    position: absolute;

}

#home > div > #hello {
    font-family: "Saira", sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: #CB1D27;
    position: absolute;
    left: 640px;
    top: 150px;
}

#home > #box {
    width: 773px;
    height: 956px;
    background-color: greenyellow;
    /*border: solid 1px #9A0000;*/
    position: absolute;
    right: 50%;
    top: 545px;
}

#home > div > #se {
    color: #D9D9D9;
    font-size: 64px;
    font-weight: bold;
    font-family: "Saira", sans-serif;
    position: absolute;
    left: 640px;
    top: 175px;
}

#home > div > #en {
    color: #D9D9D9;
    font-size: 64px;
    font-weight: bold;
    font-family: "Saira", sans-serif;
    position: absolute;
    left: 926px;
    top: 175px;
}

#se::first-letter {
    color: #9A0000;
}

#en::first-letter {
    color: #9A0000;
}

#home > div > #explore {
    color: #D9D9D9;
    font-size: 20px;
    font-weight: normal;
    font-family: "Saira", sans-serif;
    position: absolute;
    left: 640px;
    top: 298px;
    line-height: 1.5;

}

/*add a animation for my about button*/
.glow-on-hover {
    width: 158px;
    height: 47px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: absolute;
    left: 640px;
    top: 435px;
    z-index: 0;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(100deg, gold, goldenrod, #9A0000);
    position: absolute;
    top: -1px;
    left: -1px;
    background-size: 400%;
    z-index: -1;
    filter: blur(2px);
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 0;

}

.glow-on-hover:active {
    color: #9A0000;

}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #9A0000;
    left: 0;
    top: 0;
    border-radius: 0;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}


#home > #tgl > a > i {
    background-color: #D9D9D9;
    color: #D9D9D9;
    width: 50px;
    height: 50px;

}

#home > #tgl {
    position: absolute;
    left: 840px;
    top: 443px;
}

#home > #tgl > a {
    margin-right: 30px;
}

/*home section 3 boxes*/

#home > #sb > * {
    width: 400px;
    height: 430px;
    background-color: #1E1E1E;
    position: absolute;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#home > #sb > #sb1 {
    top: 630px;
    left: 135px;
}

#home > #sb > #sb2 {
    background-color: #9A0000;
    top: 630px;
    left: 50%;
    transform: translate(-50%);
}

#home > #sb > #sb3 {

    top: 630px;
    right: 135px;
}

#home > #home3boxes > h3 {
    font-size: 20px;
    font-weight: 900;
    font-family: "Nunito Sans", sans-serif;
    font-style: normal;
    color: #d9d9d9;
    position: absolute;
}

#home3boxes > p {
    font-size: 10px;
    font-weight: 300;
    font-family: "Nunito Sans", sans-serif;
    font-style: normal;
    color: #d9d9d9;
    position: absolute;
}

#home3boxes > img {
    position: absolute;
}

#home3boxes > #ui {
    top: 630px;
    left: 135px;
}

#home3boxes > #ui1 {
    top: 680px;
    left: 150px;
}

#home3boxes > #ui2 {
    top: 700px;
    left: 200px;
}

#home3boxes > #pd {
    top: 630px;
    left: 700px;
}

#home3boxes > #pd1 {
    top: 680px;
    left: 700px;
}

#home3boxes > #pd2 {
    top: 700px;
    left: 700px;
}

#home3boxes > #brand {
    top: 630px;
    right: 200px;
}

#home3boxes > #brand1 {
    top: 680px;
    right: 200px;
}

#home3boxes > #brand2 {
    top: 700px;
    right: 200px;
}